/* 기본 라이트 모드 스타일 */
body {
    background-color: white;
    color: black;
    transition: all 0.5s; /* 부드러운 변화를 위해 추가 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* 다크 모드 스타일 (자바스크립트로 이 클래스를 뺏다 넣었다 할 거예요) */
body.dark-mode {
    background-color: #2c3e50;
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
